<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><h1 class="title">Karlson</h1></div>
      <div class="col-md-4">
        <ul class="nav">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link"> Home </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/login']" class="nav-link"> Login </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/register']" class="nav-link"> Register </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav">
          <li class="nav-item">
            <a href="https://creative-tim.com/contact-us" class="nav-link">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a href="https://creative-tim.com/about-us" class="nav-link">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a href="https://creative-tim.com/blog" class="nav-link"> Blog </a>
          </li>
          <li class="nav-item">
            <a href="https://opensource.org/licenses/MIT" class="nav-link">
              License
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>
