<button type="button" class="btn btn-primary">Create New Survey</button>

<table class="table">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th>Name</th>
      <th>Questions</th>
      <th>Completed</th>
      <th>Date</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">1</td>
      <td>Andrew Mike</td>
      <td>3</td>
      <td>0</td>
      <td>10/11/2013</td>
      <td class="td-actions text-right">
        <button
          type="button"
          rel="tooltip"
          class="btn btn-info btn-sm btn-icon"
        >
          <i class="tim-icons icon-single-02"></i>
        </button>
        <button
          type="button"
          rel="tooltip"
          class="btn btn-success btn-sm btn-icon"
        >
          <i class="tim-icons icon-settings-gear-63"></i>
        </button>
        <button
          type="button"
          rel="tooltip"
          class="btn btn-danger btn-sm btn-icon"
        >
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">2</td>
      <td>John Doe</td>
      <td>5</td>
      <td>114</td>
      <td>10/12/2012</td>
      <td class="td-actions text-right">
        <button
          type="button"
          rel="tooltip"
          class="btn btn-info btn-sm btn-round btn-icon"
        >
          <i class="tim-icons icon-single-02"></i>
        </button>
        <button
          type="button"
          rel="tooltip"
          class="btn btn-success btn-sm btn-round btn-icon"
        >
          <i class="tim-icons icon-settings-gear-63"></i>
        </button>
        <button
          type="button"
          rel="tooltip"
          class="btn btn-danger btn-sm btn-round btn-icon"
        >
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="text-center">3</td>
      <td>Alex Mike</td>
      <td>10</td>
      <td>3</td>
      <td>10/13/2010</td>
      <td class="td-actions text-right">
        <button
          type="button"
          rel="tooltip"
          class="btn btn-info btn-simple btn-icon btn-sm"
        >
          <i class="tim-icons icon-single-02"></i>
        </button>
        <button
          type="button"
          rel="tooltip"
          class="btn btn-success btn-simple btn-icon btn-sm"
        >
          <i class="tim-icons icon-settings-gear-63"></i>
        </button>
        <button
          type="button"
          rel="tooltip"
          class="btn btn-danger btn-simple btn-icon btn-sm"
        >
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
